
<div class="container mt-5">
<div class="row justify-content-md-center">
  <% @restaurants.each do |restaurant| %>
    <div class="col col-lg-4 g-col-md-6  my-3">
      <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 18rem;">
      <img src="https://picsum.photos/200/200" class="card-img-top" alt="restaurant image">
        <div class="card-body">
          <h4 class="card-title"><%= restaurant.name.capitalize %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.category.upcase %></h6>
          <p class="card-text"><%= restaurant.address %></p>
          <p class="card-text"><%= restaurant.phone_number %></p>
          <%= link_to "check reviews", restaurant_path(restaurant), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>