<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @restaurant.name %></h1>
    <p class="lead"><%= @restaurant.category %></p>
    <p class="lead"><%= @restaurant.address %></p>
    <p class="lead"><%= @restaurant.phone_number %></p>
  </div>
</div>
<div class="container">
  <% if @restaurant.reviews %>
    <ul class="list-group list-group-flush">
      <h4>Reviews</h4>
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">Cras justo odio</li>
        <span></span>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-danger mt-5" %>
</div>